<h1>Welcome to Employee Tracker</h1>
<h3>Enter a division below</h3>
<form action = "/division" method = "post">
  <div class ="form-group">
    <label for = "name">Employee name</label>
    <input id= "name" name = "name" class "form-control" type = "text">
  </div>
</form>

<% if @divisions.any?() %>
  <ul>
    <% @divisions.each() do |division| %>
    <li><a href="/division/<%= division.id() %>"><%= division.name() %></a></li>
    <% end %>
  </ul>

<% else%>
  <h4>No Divisions Yet</h4>

<%end%>
