<h1>Welcome to Employee Tracker</h1>
<h3>Enter an employee below</h3>
<form action = "/employee" method = "post">
  <div class ="form-group">
    <label for = "name">Employee name</label>
    <input id= "name" name = "name" class "form-control" type = "text">
  </div>
</form>

<% if @employees.any?() %>
  <ul>
    <% @employees.each() do |employee| %>
    <li><a href="/employee/<%= employee.id() %>"><%= employee.name() %></a></li>
    <% end %>
  </ul>

<% else%>
  <h4>No Employees Yet</h4>

<%end%>
